1. Research on whether addition, subtraction, multiplication, division, floor division and modulo
operations be performed on complex numbers. Based on your study, implement a Python
program to demonstrate these operations

In [ ]:
a = 1 + 2j
b = 3 + 5j

print('Sum=',a+b)
print("Difference= ",a-b)
print("Multiplication= ",a*b)
print("Division= ",a/b)
#Floor Division cannot be performed on Complex Numbers
#Modulo cannot be peformed on Complext numbers

Sum= (4+7j)
Difference=  (-2-3j)
Multiplication=  (-7+11j)
Division=  (0.3823529411764706+0.029411764705882346j)

2.Research on range() functions and its parameters. Create a markdown cell and write in your own
words (no copy-paste from google please) what you understand about it. Implement a small
program of your choice on the same.

**range** functions returns sequence of specified numbers . By default it  starts from 0 and the step is 1 
***range(start, stop, step)***
range has three arguments out of which two are optional (stop and step)

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

3. Consider two numbers. Perform their subtraction and if the result of subtraction is greater than
25, print their multiplication result else print their division result.

In [ ]:
a=40
b=10

if (a-b)>25:
  print(a*b)
else:
  print(a/b)

400

4. Consider a list of 10 elements of integer values. If the number in the list is divisible by 2, print the
result as "square of that number minus 2".

In [ ]:
l =[1,2,3,4,5,6,7,8,9,10]
for i in l:
  if i%2==0:
    print(i**2-2)

2
14
34
62
98

5. Consider a list of 10 elements. Print all the elements in the list which are greater than 7 when that
number is divided 2.

In [ ]:
l =[12,22,53,44,215,336,217,18,90,100]
for i in l:
  if i/2>7:
    print(i)

22
53
44
215
336
217
18
90
100